body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .login {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    text-align: left;
    width: 350px;
    top: 50%;
   left: 70%;
   transform: translate(-50%, -50%);
   position: absolute;
  }
  
  img {
    display: block;
    margin: 0 auto 20px auto;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  input[type="text"], input[type="password"], input[type="submit"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #9dc81b;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #a7c224;
  }
  
  input[type="submit"] {
    background-color: #9dc81b;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }

  .adam65{
    width: 350px;
    height: 420px;
    background: white;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-sizing: border-box;
  }
